<div class="modal fade" id="passwordPromptModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="background: #2d3748;">
            <div class="modal-header">
                <h5 class="modal-title text-light">Enter Password</h5>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="text-light">Password:</label>
                    <input type="password" id="sharePasswordInput" class="form-control" 
                        style="background: #1a202c; color: white; border-color: #4a5568;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="verifySharePassword()">Submit</button>
            </div>
        </div>
    </div>
</div>
